<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Lb1_PickUpAtPoint>
            <version>0.0.1</version>
        </Lb1_PickUpAtPoint>
    </modules>
    <global>
        <blocks>
            <lb1_pickupatpoint_adminhtml>
                <class>Lb1_PickUpAtPoint_Block_Adminhtml</class>
            </lb1_pickupatpoint_adminhtml>
            <lb1_pickupatpoint>
                <class>Lb1_PickUpAtPoint_Block</class>
            </lb1_pickupatpoint>
            <checkout>
                <rewrite>
                    <onepage_shipping_method_available>Lb1_PickUpAtPoint_Block_Onepage_Shipping_Method_Available</onepage_shipping_method_available>
                </rewrite>
            </checkout>
        </blocks>
        <helpers>
            <lb1_pickupatpoint>
                <class>Lb1_PickUpAtPoint_Helper</class>
            </lb1_pickupatpoint>
        </helpers>
        <models>
            <lb1_pickupatpoint>
                <class>Lb1_PickUpAtPoint_Model</class>
                <resourceModel>lb1_pickupatpoint_resource</resourceModel>
            </lb1_pickupatpoint>
            <lb1_pickupatpoint_resource>
                <class>Lb1_PickUpAtPoint_Model_Resource</class>
                <entities>
                    <point>
                        <table>lb1_pickupatpoint_point</table>
                    </point>
                </entities>
            </lb1_pickupatpoint_resource>
        </models>
        <resources>
            <lb1_pickupatpoint_setup>
                <setup>
                    <module>Lb1_PickUpAtPoint</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </lb1_pickupatpoint_setup>
        </resources>
    </global>
    <default>
        <carriers>
            <lb1_pickupatpoint>
                <active>1</active>
                <model>lb1_pickupatpoint/carrier</model>
                <title>Pickup at point</title>
                <sort_order>10</sort_order>
                <sallowspecific>0</sallowspecific>
            </lb1_pickupatpoint>
        </carriers>
    </default>
    <admin>
        <routers>
            <lb1_pickupatpoint_admin>
                <use>admin</use>
                <args>
                    <module>Lb1_PickUpAtPoint_Adminhtml</module>
                    <frontName>pickup</frontName>
                </args>
            </lb1_pickupatpoint_admin>
        </routers>
    </admin>
    <frontend>
        <events>
            <checkout_controller_onepage_save_shipping_method>
                <observers>
                    <lb1_pickupatpoint_observer>
                        <type>singleton</type>
                        <class>lb1_pickupatpoint/observer</class>
                        <method>checkoutControllerOnepageSaveShippingMethodAfter</method>
                    </lb1_pickupatpoint_observer>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
        </events>
        <translate>
            <modules>
                <lb1_pickupatpoint>
                    <files>
                        <default>Lb1_PickUpAtPoint.csv</default>
                    </files>
                </lb1_pickupatpoint>
            </modules>
        </translate>
    </frontend>
</config>